div.container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 1px #333;
  border-radius: 30px;
  overflow: hidden;
}

div.header {
  color: white;
  background-color: #222;
  padding: 10px;
  text-align: center;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  background-color: #eee;
  border: 5px solid #222;
  border-radius: 0 0 30px 30px;
}
