input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.input input {
  height: 20px;
  padding: 10px 20px;
  margin: 8px 0;
  font-size: 1.2rem;
  border: transparent;
  border-bottom: 3px solid#69a5ff;
  background-color: transparent;
  outline: none;
  transition: 0.5s;
}

div.input input:hover {
  background-color: #69a5ff;
  border-radius: 30px;
  color: white;
}
