div.input select {
  width: 300px;
  font-size: 1.1rem;
  margin: 8px 0;
  padding: 10px;
  outline: none;
  border: transparent;
  transition: 0.5s;
  background-color: transparent;
  border-bottom: 3px solid  #69a5ff;
  color: #222;
}

div.input select:hover {
  color: white;
  border-radius: 30px;
  background-color: #69a5ff;
}
