body {
  background-color: #69a5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: #222;
}

label {
  font-size: 1.3rem;
  margin: 8px 0;
}
